
#message-pane {
    background: url(https://s3-ap-southeast-1.amazonaws.com/www.bebeautiful.in/ek-villain-shooting-vaadhoo-island-maldives.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom
}
.message-card{
max-width: 75%;
border-radius: 10px;
padding: 10px;
font-size: 18px;
}
.message-time{
margin-top: 4px;
color:#5a6861;
font-size:10px;
}