
#message-pane {
    background: url(https://s3-ap-southeast-1.amazonaws.com/www.bebeautiful.in/ek-villain-shooting-vaadhoo-island-maldives.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom
}